{# Pagina pai #}
{% extends "layout.twig" %}

{# Titulo da pagina #}
{% block title %}{{single.titulo}} | Post único{% endblock %}

{# Conteudo #}
{% block lista_de_posts %}
    <div class="container">
        <h2 class="text-center" style="margin-bottom: 30px">{{single.titulo}}</h2>
        <p class="text-center">
            <a href="{{path('lista-posts')}}" class="label label-danger"><span class="glyphicon glyphicon-home"></span> Página principal</a>            
        </p>
        <hr>
        {{single.conteudo|raw}}
        <hr>
        <a href="{{path('form-editar-post', {id: single.id})}}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Editar</a>
        <form action="{{path('deleta-post', {id: single.id})}}" method="post" style="display: inline-block">
            <a type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Deletar</a>
        </form>
    </div>
{% endblock %}
